.container{
  position: relative;
}

img {
  width: 1440px;
  height: 868px;
    z-index: -1;
}
.navigation{
  background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}


.logo {
  position: absolute;
  width: 156px;
  height: 30px;
  left: 67px;
  top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.home {
  position: absolute;
  width: 82px;
  height: 30px;
  left: 932px;
  top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.blogs {
  position: absolute;
  width: 91px;
  height: 30px;
  left: 1080px;
  top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.about {
  position: absolute;
  width: 137px;
  height: 30px;
  left: 1237px;
  top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.bodytitle {
  position: absolute;
  width: 596px;
  height: 98px;
  left: 423px;
  top: 243px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 98px;
  /* identical to box height */
  color: #FFFFFF;
}

.bodytext {
  position: absolute;
  width: 984px;
  height: 90px;
  left: 228px;
  top: 397px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.Rectangle1 {
  position: absolute;
  width: 267px;
  height: 74px;
  left: 423px;
  top: 543px;
  border: 5px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.Rectangle2 {
  position: absolute;
  width: 267px;
  height: 74px;
  left: 738px;
  top: 543px;
  background: #FFFFFF;
  border: 5px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.Rectangle1 p {
  position: absolute;
  width: 177px;
  height: 30px;
  left: 468px;
  top: 565px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.joinus p {
  position: absolute;
  width: 177px;
  height: 30px;
  left: 819px;
  top: 565px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

h2 {
  position: absolute;
  width: 477px;
  height: 73px;
  left: 482px;
  top: 1031px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  color: #000000;
}

.Rectangle5 {
  position: absolute;
  width: 347px;
  height: 505px;
  left: 67px;
  top: 1268px;
  border: 3px solid #000000;
}

.Rectangle6 {
  position: absolute;
  width: 347px;
  height: 505px;
  left: 547px;
  top: 1268px;
  border: 3px solid #000000;
}

.Rectangle7 {
  position: absolute;
  width: 347px;
  height: 505px;
  left: 1027px;
  top: 1268px;
  border: 3px solid #000000;
}

.services h3 {
  width: 241px;
  height: 49px;
  left: 120px;
  top: 1328px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}

.Rectangle5 #learnmore {
  width: 267px;
  height: 74px;
  left: 107px;
  top: 1637px;
  border: 5px solid #000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.Rectangle6 #learnmore {
  width: 267px;
  height: 74px;
  left: 587px;
  top: 1637px;
  border: 5px solid #000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.Rectangle7 #learnmore {
  width: 267px;
  height: 74px;
  left: 1067px;
  top: 1637px;
  border: 5px solid #000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container3 {
  position: relative;
}

.footer {
  position: absolute;
  width: 1440px;
  height: 135px;
  left: 0px;
  top: 2265px;
  background: hsla(0, 0%, 0%, 0.85);
}

.footer p {
  width: 225px;
  height: 30px;
  left: 1152px;
  top: 2320px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.insta {
  position: absolute;
  width: 29px;
  height: 29px;
  left: 8.33%;
  right: -29.17%;
  top: -33.33%;
  bottom: 12.5%;
  background: #C13584;
}

.linkedin {
  position: absolute;
  width: 29px;
  height: 29px;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
  background: #2867B2;
}

.twitter {
  position: absolute;
  width: 29px;
  height: 29px;
  left: 6.38%;
  right: 6.34%;
  top: 15.24%;
  bottom: 11.83%;
  background: #1DA1F2;
}
